.main {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  min-height: 500px;

  background-image: url("../../assets/wallpaper-login.avif");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-attachment: fixed;

  position: relative;
}

.header {
  padding: 1rem;
}

.welcome {
  margin-bottom: 25px;
  color: var(--dark-gray);
}

.welcomeMessage {
  font-size: 1.450rem;
}

.paragraphMessage {
  font-size: 0.75rem;
  color: var(--light-gray);
}

.loginForm {
  background-color: var(--white);

  position: absolute;
  transform: translate(-50%, -50%);

  top: 50%;
  left: 50%;

  width: 70%;
  max-width: 450px;
  min-width: 375px;
  height: max-content;

  border-radius: 0.25rem;
  padding: 1.5rem;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .main {
    background-size: 50% 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    column-gap: 10px;
  }

  .header {
    padding: 2rem;
  }

  .welcome {
    margin-bottom: 70px;
  }

  .welcomeMessage {
    font-size: 2.375rem;
  }

  .loginForm {
    grid-column: 1 / 2;

    position: static;
    transform: initial;
    border-radius: none;
    padding: 0;
    box-shadow: initial;
    min-width: initial;


    align-self: center;
    justify-self: center;
  }
}