.main {
  display: grid;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("../../assets/wallpaper-login.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 0 100vw inset rgba(0, 0, 0, 0.5);
}

.content {
  align-self: center;
  justify-self: center;
  min-height: 500px;
  width: 100%;
}

.header {
  padding-top: 2rem;
  padding-left: 2rem;
}

.welcome {
  margin-bottom: 60px;
  color: var(--dark-gray);
}

.welcomeMessage {
  font-size: 1.450rem;
}

.paragraphMessage {
  font-size: 0.75rem;
  color: var(--light-gray);
}

.loginForm {
  margin: 4rem auto 3rem;
  background-color: var(--white);

  width: 95%;
  min-width: 300px;
  max-width: 420px;

  border-radius: 0.25rem;
  padding: 1.5rem;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.25);
}


@media screen and (min-width: 900px) {
  .main {
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
  }

  .content {
    display: grid;
    height: 100vh;
    min-height: 500px;
    grid-template-rows: 100px 1fr;
  }

  .header {
    margin-top: 1vh;
    margin-left: 3vw;
  }

  .loginForm {
    margin: 0;
    align-self: center;
    justify-self: center;
    border-radius: initial;
    padding: 1rem;
    box-shadow: initial;
    width: 70%;
    max-width: 525px;
  }

  .background {
    right: 0;
    position: fixed;
    width: 50vw;
  }
}