.container {
  margin: 15px 0;
}

.label {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.labelText {
  color: #7c7c7c;

  margin-bottom: 6px;

  font-weight: 600;
  font-size: 13px;
}


.input {
  border: 2px solid #e3e3e3;
  border-radius: 3.5px;
  padding: 0.45rem;
  background-color: #f9f9f9;
  font-weight: 400;
  color: #a2a2a2;
  outline: none;

  transition: 200ms;

  background-repeat: no-repeat;
  background-position: 97% center;
  background-size: 14px;
}

.input::placeholder {
  color: #a2a2a2;
  font-weight: 400;
}

.isValid .input:not(:placeholder-shown):not(:focus) {
  border-color: #34c38f;

  background-image: url("../../assets/input-v.svg");
}


.isInvalid .input:not(:focus) {
  border-color: #fa982f;
  color: #fa982f;
  font-weight: bold;

  background-image: url("../../assets/input-x.svg");
}

.isInvalid .input:not(:focus)::placeholder {
  color: #fa982f;
  font-weight: bold;
}