.button {
  color: var(--white);
  background-color: var(--red);
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  transition: 200ms;
  cursor: pointer;

  border: 2px solid transparent;
}

.button:not(:disabled):active {
  background-color: #DF3938;
}

.button:disabled {
  filter: brightness(70%);
  cursor: progress;
}

.rememberPassword {
  display: flex;
  flex-flow: row wrap;
  margin: 32px 0 30px;
  justify-content: space-between;
  column-gap: 15px;
  row-gap: 15px;
  align-items: center;
}

.link {
  font-size: 0.813rem;
  color: var(--red);
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--red);
}

.createAccount {
  color: var(--light-gray);
  font-size: 0.813rem;
  margin-top: 30px;
  font-weight: 500;
}


@media screen and (min-width: 768px) {
  .button:not(:disabled):hover {
    background-color: #DF3938;
  }

  .button:not(:disabled):active {
    border-color: #971212;
  }
}