.container {
  padding: 1rem;
  width: 100%;

  background: #FFFFFF;
  border: 1px solid #E6E6E6;

  box-shadow: 0px 0px 6px rgba(162, 162, 162, 0.25);
  border-radius: 3px;

  margin-top: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}


.table {
  width: 100%;
  text-align: left;
}

.thead {
  background: #F9F9F9;
  color: #858585;
  font-weight: 700;
  text-transform: uppercase;
  height: 70px;
}

.centralize .th {
  padding: 0;
  text-align: center;
}

.centralize .td {
  text-align: center;
}

.th {
  padding: 0 0 0 1rem;
}

.td {
  padding: 1.5rem;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #495057;

  letter-spacing: -0.02em;
}


.red,
.green,
.yellow {
  border-radius: 3px;
  padding: 0.25rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.green {
  background: rgba(52, 195, 143, 0.2);
  color: #34C38F;
}

.yellow {
  background: rgba(250, 193, 47, 0.2);
  color: #FAC12F;
}

.red {
  color: #F54A48;
  background: rgba(245, 74, 72, 0.2);
}

.title {
  font-size: 20px;
  color: #495057;
}